.jedan{
    position: static;
}

.dva{
    position: relative;
    left: 100px;
}

.tri{
    position: absolute;
    bottom: 50px;
    left: 100px;
}

.cetiri{
    position: fixed;
    top: 30px;
    right: 5px;
}